<html>

<head>
  <link rel="stylesheet" href="/site.css">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <meta name='HandheldFriendly' content='True'>
  <meta name='MobileOptimized' content='320'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>

<body id='home'>
  <div class='header'>
    <div class='nav'>
      <div class='nav-right'>
        <a href='/docs'>Docs</a>
        <a href='https://github.com/ketchuphq/ketchup'>Github</a>
      </div>
    </div>
    <div class='header-inner'>
      <div class='header-title'>Ketchup<span class='wow'>!</span></div>
      <div class='header-subtitle'>{{.tagline}}</div>
    </div>
    <div class='attribution'>
      random image via <a href='https://unsplash.com/'>unsplash</a>
    </div>
  </div>

  <div class='content'>
    <div class='content-box'>{{.promo1}}</div>
    <div class='content-box'>{{.promo2}}</div>
    <div class='content-box'>{{.promo3}}</div>
    <div class='content-box'>{{.promo4}}</div>
  </div>

  <div class='footer'>made with &#x1F345;</div>
</body>

</html>
